*, :after, :before {
    position: relative;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Exo 2', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background: #13161c;
    color: whitesmoke;
}

header {
    overflow: hidden;
}

main {
    width: 1260px;
    margin: 0 auto;
}

input, button {
    outline: unset;
    border: unset;
    background: unset;
    /* line-height: 1; */
    font-family: 'Exo 2', sans-serif;
    font-size: 1em;
    font-weight: 500;
    -webkit-appearance: none;
}

.hidden, [hidden] {
    display: none !important;
}

a {
    color: #268ce3;
}

a.ghost {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 12;
}

.gray {
    color: #2e363c;
}

.width {
    max-width: 2500px;
    margin-right: auto;
    margin-left: auto;
}

.page-width {
    display: inherit;
    width: 1260px;
    margin: 0 auto;
}

.page-width .undertop__bench:first-child {
    padding-left: 0;
}

.page-width .undertop__bench:last-child {
    padding-right: 0;
}

/* Buttons */

button, input[type="submit"] {
    cursor: pointer;
}

.button1 {
    display: inline-block;
    padding: 1em 1.35em;
    border: 0.125em solid #30394a;
    border-radius: 0.35em;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    text-decoration: none;
    transition: 0.15s linear background, 0.15s linear border;
    user-select: none;
}

a.button1 {
    cursor: pointer;
}

.button2, .button3 {
    padding: 1em 1.35em;
    background: #268ce3;
    border: 0.125em solid transparent;
    border-radius: 0.35em;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    text-decoration: none;
    transition: 0.15s linear background;
}

a.button1:hover, button.button1:hover, input[tpye="submit"].button1:hover {
    background: #30394a;
    border-color: transparent;
}

.button3 {
    background: #90c551;
    border-radius: 0.35em;
    padding: 1.75em 4em;
}

/* Place under the top */

.undertop {
    display: flex;
    justify-content: center;
    padding: 0 0em;
    border-bottom: 0.075em solid #1f232d;
}

.undertop--style-1 {
    background: url(../img/bg_1.png) no-repeat left;
    box-shadow: inset 5.5em 0 4em -4em rgba(119, 194, 59, 0.4);
}

.undertop__bench {
    display: flex;
    align-items: center;
    padding: 1.5em;
    border-right: 0.075em solid #1f232d;
}

.undertop__bench:last-child {
    border-right: unset;
}

.undertop__bench .usual-timer__name {
    margin: 0 1.75em;
}

.undertop__bench--0 {
    justify-content: space-between;
    padding: 0;
    width: 1260px;
    margin: 0 auto;
}

.undertop__Hcontainer {
    display: flex;
    align-items: center;
}

.undertop__logos {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.undertop__logo {
    display: inline-table;
    width: 5.75em;
    z-index: 10;
    margin-right: 2em;
    line-height: 1;
}

.undertop__h1 {
    font-size: 1.3em;
    font-weight: 700;
    word-break: break-word;
}

.undertop__h2 {
    font-size: 1.33em;
    font-weight: 600;
}

.undertop__h4 {
    font-size: 0.9em;
}

.undertop__domain {
    display: inline-block;
    top: -0.25em;
    left: 0.15em;
    padding: 0.25em 0.5em;
    background: #268ce3;
    border-radius: 0.25em;
    color: white;
    font-size: 0.75em;
    font-weight: 600;
}

.undertop__description {
    display: block;
    max-width: 35em;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.25;
}

/* Undertop Articles */

.undertop__article3 {
    display: grid;
    line-height: 1.25em;
    margin-right: 2em;
}

.undertop__article3--header {
    font-size: 1.15em;
    font-weight: 600;
    color: #268ce3;
}

.undertop__article3--text {
    font-size: 0.9em;
    font-weight: 500;
    color: #3d475a;
}

/* Social links */

.undertop__social-links {
    display: inline-flex;
    margin-left: 2.5em;
}

.undertop__social-link {
    display: block;
    padding: 0.525em;
    margin: 0 0.85em;
    width: 1em;
    height: 1em;
    background: no-repeat center;
    background-size: cover;
    filter: contrast(0.1) opacity(0.5);
    transition: .07s linear filter;
}

.undertop__social-link:hover {
    filter: contrast(1) opacity(1);
}

.undertop__social-link:first-child {
    margin-left: 0;
}

.undertop__social-link:last-child {
    margin-right: 0;
}

.undertop__social-link--vk {
    background-image: url(https://standoffcasetest.ru/assets/img/icons/vk.png);
}

.undertop__social-link--instagram {
    background-image: url(https://standoffcasetest.ru/assets/img/icons/instagram.png);
}

.undertop__social-link--steam {
    background-image: url(https://standoffcasetest.ru/assets/img/icons/steam.png);
}

.undertop__social-link--youtube {
    background-image: url(https://standoffcasetest.ru/assets/img/icons/youtube.png);
}

/* Main menu in general */

.main-menu {
    display: inline-flex;
    align-items: center;
}

.main-menu__link {
    margin-left: 2.75em;
    padding: 2.75em 1.85em;
    font-size: 0.9em;
    color: white;
    text-decoration: none;
    border-bottom: 0.125em solid transparent;
    transition: .15s linear border-color;
}

.main-menu__link:before {
    position: absolute;
    content: "";
    top: -0.3rem;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(0, #268ce3 -100%, transparent 40%);
    opacity: 0;
    transition: .15s linear opacity;
    z-index: -1;
}

.main-menu__link:hover:before, .main-menu__link--selected:before {
    opacity: 1;
}

.main-menu__link--selected, .main-menu__link:hover {
    border-color: #268ce3;
}

.main-menu__link:first-child {
    margin: 0;
}

.mini-account {
    display: flex;
    align-items: center;
    font-size: 0.9em;
}

.mini-account__balance {
    display: flex;
    align-items: center;
}

.mini-account__balance--numbers {
    margin-right: 1.25em;
    font-weight: 700;
}

.mini-account__balance--add {
    padding: 0.625em;
    margin-right: 1.25em;
    background: #73c645;
    border-radius: 0.333em;
    cursor: pointer;
}

.mini-account__profile {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.mini-account__profile--image {
    width: 3.5em;
    height: 3.5em;
    background: url(../img/avatar.png) #fadf64 no-repeat center/cover;
    border-radius: 0.35em;
}

.mini-account__profile--username {
    margin-left: 1.25em;
}

/* Change Language */

.change-lang {
    z-index: 13;
}

.change-lang__current {
    padding: 0.95em 1.5em;
    border: 0.125em solid #1f232d;
    border-radius: 0.333em;
    font-size: 0.9em;
    cursor: pointer;
    transition: .15s linear background;
    z-index: 2;
    user-select: none;
}

.change-lang__menu {
    position: absolute;
    margin-top: 5px;
    transform: translateY(-50%);
    opacity: 0;
    transition: .15s linear transform, .15s linear opacity;
}

.change-lang__lang {
    padding: 0.9em 1.5em;
    background: #1c212d;
    border: 0.125em solid transparent;
    border-bottom: 0.125em solid #53555a;
    font-size: 0.9em;
    transition: .15s linear background;
    cursor: pointer;
    user-select: none;
}

.change-lang__current:hover {
    background: #1f232d;
}

.change-lang__menu--expanded {
    transform: translateY(0%);
    opacity: 1;
}

.change-lang__lang:hover {
    background: #2b303e;
}

.change-lang__lang:first-child {
    border-radius: 0.25em 0.25em 0 0;
}

.change-lang__lang:last-child {
    border-radius: 0 0 4px 4px;
    border-bottom-color: transparent;
}

/* Weapon skins as you see */

.weapon-skins {
    display: flex;
    overflow-y: visible;
}

.weapon-skins__weapon {
    display: inline-grid;
}

.weapon-skins__unit {
    cursor: pointer;
}

.weapon-skins__image {
    width: 6.7em;
    height: 3.8em;
}

.weapon-skins__unit .weapon-skins__image, .weapon-skins__unit .weapon-skins__quality {
    z-index: 13;
}

.weapon-skins__quality {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 0.175em;
    background: #ccc;
    border-radius: 100%;
}

.weapon-skins__quality--blue {
    background: #0154c6;
}

.weapon-skins__quality--skyblue {
    background: #579EFF;
}

.weapon-skins__quality--red {
    background: #CC4450;
}

.weapon-skins__quality--pink {
    background: #f140af;
}

.weapon-skins__quality--purple {
    background: #8120ef;
}

.weapon-skins__quality--gold {
    background: #FFD700;
}

/* Bounes Case */

.opencard__description {
    align-self: flex-end;
    text-align: center;
    line-height: 22px;
    font-size: 0.9em;
    margin-top: 40px;
    width: 350px;
}

.opencard__condition {
    display: flex;
    justify-content: center;
    padding: 18px 50px;
    margin-bottom: 40px;
    border: 2px solid rgba(97, 126, 208, 0.3);
    border-radius: 8px;
}

.opencard__condition--marked {
    color: #6d85bb;
}

.opencard__condition--done {
    background: rgba(97, 126, 208, 0.3);
    border-color: transparent;
}

.opencard__condition--done .opencard__condition--marked {
    color: white;
}

.opencard__condition--text {
    font-size: 0.8em;
    font-weight: 700;
    text-transform: uppercase;
}

.opencard__condition--icon {
    /* padding: 5px; */
    /* background: rgba(0,0,0,0.3); */
    /* border-radius: 4px; */
    margin-right: 10px;
}

/* Main */

/* Cards */

.wrapper {
    /* padding: 0 6em; */
    display: grid;
}

.page-piece {
    flex-direction: column;
    margin-top: 5em;
}

.page-piece__article {
    display: block;
    max-width: 50em;
    margin-bottom: 50px;
    color: white;
}

.page-piece__article--middle {
    margin: 0 auto 2em;
    text-align: center;
}

.page-piece__article h2 {
    font-size: 1.75em;
    font-weight: 600;
    margin-bottom: 0.75em;
}

.page-piece__article h4, .page-piece__description {
    font-weight: 500;
    line-height: 1.25;
}

.cards-stack {
    display: inline-flex;
    flex-wrap: wrap;
    justify-self: center;
}

.cards-stack.bigger .cards-stack__card:first-child {
    width: 40em;
}

.cards-stack__card {
    display: inline-grid;
    grid-gap: 2em;
    justify-items: center;
    align-items: center;
    width: 20em;
    padding: 2em 0;
    margin-right: 2.5em;
    background: #1a1e26;
    border-radius: 0.5em;
    cursor: pointer;
    transition: 0.15s linear background;
    margin-bottom: 2em;
}

.cards-stack__card:hover {
    background: #30394a;
}

.cards-stack__card:hover .button2 {
    background: rgba(255, 255, 255, 0.2);
}

.cards-stack__holes {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    display: flex;
    width: 100%;
}

.cards-stack__name {
    width: 70%;
    align-self: flex-start;
    font-size: 1.25em;
    font-weight: 600;
    word-break: break-word;
    text-align: center;
}

img.cards-stack__image {
    width: 10em;
    height: 10em;
    object-fit: contain;
}

.cards-stack__card--large {
    width: 42.5em;
}

.cards-stack__buttons {
    display: flex;
    align-self: flex-end;
}

.cards-stack__buttons>.button1 {
    margin-right: 0.5em;
    border-color: rgba(255, 255, 255, 0.2);
}

[class ^="cards-stack__hole--"] {
    position: absolute;
    display: block;
    background: #13161c;
    border-radius: 100%;
    width: 1.25em;
    height: 1.25em;
}

.cards-stack__hole--left {
    left: -0.625em;
}

.cards-stack__hole--right {
    right: -0.625em;
}

.cards-stack--bonuses {
    justify-content: center;
    margin-top: 100px;
}

.cards-stack--bonuses .cards-stack__card:first-child {
    width: 350px;
}

/* Weapons Tooltip Units */

.weapon-detail {
    position: absolute;
    top: -50px;
    left: 3px;
    z-index: 11;
    transition: .2s linear top;
}

.weapon-detail__inner {
    padding: 0.85em 1.15em;
    border-radius: .4em;
    overflow: hidden;
}

.weapon-detail__header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.weapon-detail__avatar {
    width: 1.5em;
    height: 1.5em;
    border-radius: 100%;
}

.weapon-detail__username {
    font-size: 0.85em;
    font-weight: 400;
    margin-left: 10px;
}

.weapon-detail__inner:before {
    position: absolute;
    content: '';
    width: 350px;
    height: 350px;
    background: #1a1e26;
    border-radius: 50%;
    transform: translate(-35%, -50%) scale(0.1);
    transition: .3s linear, transform 0s .3s linear;
    z-index: -1;
}

.weapon-detail__case {
    display: grid;
    align-items: center;
    justify-content: center;
}

.weapon-detail__case-image {
    width: 2.3em;
    height: 2.3em;
    margin-top: 10px;
}

.weapon-skins__unit:hover .weapon-detail {
    top: 70px;
}

.weapon-skins__unit:hover .weapon-detail__inner:before {
    transform: translate(-35%, -50%) scale(1);
    transition: .35s linear .1s;
}

/* Search Bar */

.search-bar {
    display: flex;
    align-items: center;
    padding: 1.5em 0;
    margin: 2em 0em 0;
    border-bottom: 1px solid #1f232d;
}

.search-bar__image {
    display: block;
    width: 2em;
    height: 2em;
    margin-right: 1.5em;
    background: url("../img/loupe.png") no-repeat center/contain;
}

.search-bar__gap {
    display: flex;
    flex: 1;
}

.search-bar__gap--placeholder {
    font-size: 1.5em;
    font-weight: 500;
    color: #252b37;
    user-select: none;
    cursor: text;
}

.search-bar__gap--input {
    width: 100%;
    font-size: 1.5em;
    font-weight: 600;
    color: #3f495e;
}

.choice-buttons {
    display: inline-flex;
    justify-content: flex-end;
    margin-left: 50px;
}

.choice-buttons__button {
    padding: 1em 1.5em;
    margin-right: 0.2em;
    background: #268ce3;
    color: white;
    font-size: 0.85em;
    font-weight: 600;
    text-decoration: none;
    transition: 0.2s ease-in box-shadow;
    cursor: pointer;
    user-select: none;
}

.choice-buttons__button:first-child {
    border-radius: 0.25em 0 0 0.25em;
}

.choice-buttons__button:last-child {
    border-radius: 0 0.25em 0.25em 0;
    margin: 0;
}

.choice-buttons__button:active {
    background: rgba(38, 140, 227, 0.85);
}

.choice-buttons__button--selected {
    background: rgba(32, 117, 189, 1);
    box-shadow: inset 0 -0.2em rgba(255, 255, 255, 0.4);
}

.search-bar__gap--placeholder b {
    color: #3f495e;
    font-weight: 600;
}

/* Footer */

footer {
    display: block;
    margin-top: 5em;
    border-top: 0.075em solid #1f232d;
}

.footer {
    max-width: 1260px;
    margin: 0 auto;
}

/* Pay systems */

.paysys {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 2em;
}

.paysys--1 {
    margin-top: 5em;
}

footer .paysys {
    width: 1260px;
    margin: 2em auto 0;
}

.paysys__image {
    /* width: 3em; */
    /* height: 3em; */
    object-fit: contain;
    filter: contrast(0.5) opacity(0.2) grayscale(1);
    cursor: pointer;
    transition: .125s linear filter;
}

.paysys--1 .paysys__image {
    height: 2em;
}

.paysys__image:hover {
    filter: contrast(1) opacity(1) grayscale(0);
}

.undertop--topline {
    border-bottom: unset;
    padding: 2em 0;
}

.undertop--topline .undertop__bench {
    max-width: unset;
    /* margin: unset; */
}

/* Copyright */

.copyright {
    display: flex;
    width: 1260px;
    margin: 4em auto 2em;
}

a.copyright__link {
    margin-right: 2.5em;
    font-size: 1em;
    font-weight: 500;
    color: #272d39;
}

.copyright__text {
    display: flex;
    font-size: 1em;
    font-weight: 500;
    color: #272d39;
    flex: 1;
    justify-content: flex-end;
}

/* Contacts */

.contacts {
    position: relative;
    display: grid;
    width: 50%;
    padding: 35px;
    margin: 100px auto 200px;
    background: rgba(255, 255, 255, 0.015);
    border-radius: 12px;
}

.contacts>span {
    margin: 5px 0;
}

.contacts-points-list {
    display: inline-grid;
    padding: 25px;
}

.contacts-point {
    display: flex;
    word-break: break-word;
    margin: 10px 0;
}

.contacts-point__title {
    flex: 0 0 180px;
    align-self: center;
    color: #727b83;
}

.contacts-point__describe {
    flex: 1;
    margin-left: 20px;
    color: #eaeaea;
}

/* Top */

.page-piece__title {
    font-size: 1.35em;
    font-weight: 500;
    text-align: center;
    margin-bottom: 5em;
}

.page-piece__title--left {
    text-align: left;
    margin: 0;
}

.users-top {
    max-width: 1450px;
    margin: 0 auto;
}

.users-top__places {
    display: flex;
    justify-content: space-between;
}

.users-top__place {
    display: flex;
    flex: 1;
    padding: 2em;
    margin-right: 3em;
    background: #1a1e26;
    border-bottom: 0.25em solid;
    border-radius: 0.25em;
}

.users-top__place:last-child {
    margin: 0;
}

.users-top__place.users-top__place---first {
    border-color: #e2cc5d;
}

.users-top__place---first .user-place__place {
    background: #e2cc5d;
}

.users-top__place.users-top__place---second {
    border-color: #a8aeb4;
}

.users-top__place---second .user-place__place {
    background: #a8aeb4;
}

.users-top__place.users-top__place---third {
    border-color: #9e6c43;
}

.users-top__place---third .user-place__place {
    background: #9e6c43;
}

.users-top__image {
    width: 4.5em;
    height: 4.5em;
    border-radius: 100%;
    cursor: pointer;
}

.user-place {
    display: block;
    flex: 1;
    margin-top: 1em;
    margin-left: 1em;
}

.user-place__account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.user-place-account {
    display: grid;
    cursor: pointer;
}

.user-place-account__nickname {
    font-size: 1em;
    font-weight: 500;
}

.user-place-account__balance {
    font-size: 1.5em;
    font-weight: 600;
    line-height: 32px;
}

.user-place__place {
    padding: 0.5em 0.85em;
    background: white;
    border-radius: 0.25em;
    font-size: 1em;
    font-weight: 700;
    color: #1a1e26;
}

.user-place__stats {
    display: flex;
    margin-top: 1em;
}

.user-place__state {
    display: grid;
    margin-right: 30px;
}

.user-place__state:last-child {
    margin: 0;
}

.user-place__state--amount {
    font-size: 1.5em;
    font-weight: 600;
}

.user-place__state--name {
    font-size: 1em;
    font-weight: 500;
    color: #3d475a;
    margin-top: 0.5em;
}

/* Table */

.table {
    margin-top: 3em;
    width: 100%;
    border-spacing: unset;
}

.table tr {
    display: block;
    margin-bottom: 0.5em;
    background: #1a1e26;
    border-radius: 0.25em;
    font-size: 1.15em;
    font-weight: 600;
}

.table tr.table__preview {
    background: transparent;
    font-size: 1em;
    font-weight: 500;
}

.table td {
    padding: 1.1em 2em;
}

.table td:nth-child(1) {
    width: 3.5%;
    text-align: center;
}

.table td:nth-child(2) {
    width: 30%;
    text-align: left;
}

.table td:nth-child(3) {
    text-align: right;
}

.table td:nth-child(5) {
    text-align: right;
}

.table-user {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.table-user__image {
    width: 3em;
    height: 3em;
    border-radius: 100%;
    margin-right: 0.85em;
}

/* Profile */

/* Main */

.profile {
    display: flex;
    justify-content: center;
    margin: 100px auto;
}

.profile-main {
    display: grid;
    justify-items: center;
    padding: 2em 4em;
    background: #1a1e26;
    border-radius: 0.35em;
}

.profile-main__image {}

.profile-main__username {
    font-size: 1.25em;
    font-weight: 500;
    margin-top: 1em;
    white-space: nowrap;
}

.profile-main__vk {
    color: #42495a;
    margin-top: 0.5em;
}

.profile-main__exit {
    position: absolute;
    top: 1em;
    right: 1em;
}

.profile-main__exit:hover {
    box-shadow: inset 0 0 8px -2px rgba(0, 0, 0, 0.4);
}

.profile-main__top-up {
    padding: 1em 2em;
    margin-top: 2.25em;
    background: #90c551;
    border-radius: 0.35em;
    font-size: 0.95em;
    font-weight: 500;
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

/* Extra */

.profile__extra {
    display: grid;
    align-content: space-between;
}

.profile-stats {
    display: flex;
}

.profile-stats__state {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    padding: 2.5em 3.5em;
    margin-left: 1.5em;
    background: #1a1e26;
    border-radius: 0.35em;
    text-align: center;
}

.profile-stats__state--amount {
    font-size: 1.65em;
    font-weight: 600;
    white-space: nowrap;
}

.profile-stats__state--name {
    font-size: 1em;
    font-weight: 500;
    color: #42485a;
    margin-left: 0.85em;
    white-space: nowrap;
}

.stndof2-avatar {
    padding: 2em;
    margin-top: 1.5em;
    margin-left: 1.5em;
    background: #1a1e26;
    border-radius: 0.35em;
}

.stndof2-avatar__avatar {
    display: flex;
    align-items: center;
}

.stndof2-avatar__avatar--image {
    display: block;
    width: 4em;
    height: 4em;
    border-radius: 0.35em;
    object-fit: cover;
}

.stndof2-avatar__avatar--desc {
    font-size: 0.9em;
    font-weight: 700;
    margin-left: 15px;
}

.stndof2-avatar__text {
    max-width: 40em;
    margin-top: 1em;
    font-size: 0.9em;
    font-weight: 500;
    line-height: 1.5;
}

.stndof2-avatar__edit {
    margin-top: 1em;
}

/* User Invetory */

.user-inventory, .case-inventory {
    display: block;
}

.user-inventory--history:nth-child(odd) {
    display: none;
}

.user-inventory__header, .case-inventory__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 3em;
}

.user-inventory__header--another {
    justify-content: end;
    min-height: 2.25em;
}

.user-inventory__sections {
    display: flex;
    align-items: center;
}

.user-inventory__header--var {
    margin-left: 1.75em;
    color: #3d475a;
    cursor: pointer;
    transition: .125s linear color, .125s linear font;
}

.user-inventory__header--var:hover {
    color: #7c8aa2;
}

.user-inventory__header--var:first-child {
    margin: 0;
}

.user-inventory__title, .case-inventory__title, .user-inventory__header--selected {
    font-size: 1.75em;
    font-weight: 600;
    color: white;
}

.user-inventory__header--selected:hover {
    color: white;
}

.user-inventory__buttons {}

.user-weapons__empty {
    text-align: center;
    color: white;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 25px;
}

@keyframes spinning {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.user-weapons__motto, .user-weapons__もっと {
    position: absolute;
    bottom: 0;
    left: calc(50% - 105px);
    padding: 18px 45px;
    margin: 25px auto;
    background: #268ce3;
    border-radius: 6px;
    color: white;
    transition: 0.125s background, 0.125s border, 0.075s border-radius, 0.125s padding, 0.125s left;
    z-index: 1;
}

.user-weapons__motto--nein {
    left: calc(50% - 20px);
    padding: 12px;
    background: transparent;
    border: 4px solid #268ce3;
    border-right-color: #1d4d75;
    border-radius: 100%;
    animation: 2.5s linear spinning infinite;
}

.user-weapons__motto--nein>span {
    display: none;
}

.inventory-button {
    display: flex;
}

.inventory-button__button {
    display: block;
    padding: 1.1em 2.5em;
    margin-right: 0.9em;
    border-radius: 0.35em;
    color: white;
    cursor: pointer;
    transition: 0.125s linear background, 0.125s linear transform, 0.125s linear border;
}

.inventory-button__button--1 {
    border: 0.125em solid #5d657e;
}

.inventory-button__button--0 {
    background: #268ce3;
}

.user-inventory--history .inventory-button__button--1 {
    background: #268ce3;
    border-color: #268ce3;
}

.user-inventory--history .inventory-button__button--0 {
    transform: translate(120%, 0);
    color: #268ce3;
}

.user-weapons, .case-weapons {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 1.5em;
    padding-bottom: 7.5em;
    /* margin-bottom: 7.5em; */
}

.user-weapons[class *="user-weapons--"], [class *="user-inventory--"] .user-weapons {
    display: none;
}

.user-inventory--history .user-weapons--history, .user-inventory--contracts .user-weapons--contracts {
    display: grid;
}

.user-weapons__weapon, .case-weapons__weapon {
    display: grid;
    grid-gap: 2em;
    align-content: space-between;
    justify-items: center;
    padding: 1.5em 1.75em;
    background: rgba(26, 30, 38, 0.9);
    border-radius: 0.35em;
}

.user-weapons__weapon> :not(.user-weapons__hover) {
    transition: 0.125s linear filter;
}

.user-weapons__weapon:hover> :not(.user-weapons__hover) {
    filter: brightness(0.5) opacity(0.5);
    user-select: none;
}

.user-contracts__contract .user-weapons__weapon:hover>* {
    filter: unset;
    user-select: unset;
}

.user-weapons__weapon:hover .user-weapons__hover {
    visibility: unset;
}

.user-weapons__paid-way {
    display: flex;
    align-items: center;
}

.paid-way__cost {
    padding: 0.65em 0.95em;
    background: #15161a;
    border-radius: 0.35em;
    margin-right: 0.3em;
    font-size: 0.85em;
    font-weight: 500;
}

.paid-way__sold, .paid-way__given, .paid-way__processing {
    padding: 0.35em 0.4em;
    background: #1b1c21;
    border-radius: 0.3em;
}

.paid-way__sold {
    background: #73c645;
}

.paid-way__given {
    background: #c60126;
}

.paid-way__processing {
    background: #daa800;
    padding: 8px;
}

.user-weapons__skin-name, .case-weapons__skin-name {
    font-size: 0.85em;
    width: 10em;
    text-align: center;
    line-height: 1.25;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user-weapons__hover {
    visibility: hidden;
    position: absolute;
    top: 20%;
    display: grid;
    width: 100%;
    height: 60%;
    align-items: center;
    justify-items: center;
    z-index: 7;
}

.user-weapons__hover--image {
    cursor: pointer;
    width: 7.5em;
}

.user-weapons__hover--text {
    max-width: 8em;
    line-height: 1.5;
}

.weapon-activities {
    display: grid;
}

.weapon-activities__button {
    padding: 1em 2.15em;
    background: #15161a;
    border-radius: 0.35em;
    margin-bottom: 0.3em;
    font-size: 1em;
    color: white;
    cursor: pointer;
    user-select: none;
}

.weapon-activities__button--0 {
    background: #558bdf;
}

/* Another Profile */

.profile-another {
    display: flex;
    align-items: flex-end;
    justify-content: space-around;
    max-width: 1400px;
    margin: 100px auto;
}

.profile-another__section {
    display: grid;
    justify-items: center;
    text-align: center;
    width: 16em;
}

.profile-another__section--image {
    height: 5em;
}

.profile-another__section--big-text {
    font-size: 3em;
    font-weight: 600;
    color: white;
}

.profile-another__section--text {
    font-size: 0.9em;
    color: white;
    margin-top: 0.75em;
}

.profile-another__section--gray-text {
    font-size: 0.9em;
    color: #3d475a;
    margin-top: 0.75em;
    white-space: nowrap;
    max-width: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.profile-another__account {
    display: grid;
    justify-items: center;
    width: 16em;
}

.profile-another__avatar {
    width: 10.25em;
    height: 10.25em;
    border-radius: 100%;
}

.profile-another__username {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 1em;
}

.profile-another__vk {
    color: #3d475a;
    margin-top: 0.35em;
}

/* Contract */

.user-contracts.user-weapons--contracts, [load-type="contracts"] {
    grid-gap: 2em;
    grid-template-columns: repeat(2, 1fr);
}

.user-contracts__contract {
    display: flex;
    flex-shrink: 0;
}

.user-contracts__contract:nth-child(2n) {
    /*margin-right: 0;*/
}

.user-contracts__contract .user-weapons__weapon {
    margin: 0;
    margin-right: 1.5em;
}

.user-contracts__content {
    display: grid;
    align-content: space-between;
    flex: 1;
    padding: 1.5em 1.75em;
    background: rgba(26, 30, 38, 0.9);
    border-radius: 0.35em;
}

.user-contracts__text--gray {
    color: #3d475a;
}

.user-contracts__text {}

.user-contracts__items {
    display: grid;
    grid-gap: 0.5em;
    grid-template-columns: repeat(5, 0fr);
}

.user-contracts__item {
    width: 4.5em;
    height: 2.75em;
    object-fit: scale-down;
}

.user-contracts__items .weapon-skins__weapon {}

.user-contracts__items .weapon-skins__weapon:nth-child(5n) {
    margin-right: 0;
}

.contract {
    display: grid;
    grid-gap: 2em;
    justify-content: center;
    margin: 5em 0;
}

.contract__cards {
    display: inline-flex;
    align-items: center;
}

.contract__card {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 2em;
    width: 13.75em;
    height: 15.5em;
    background: rgba(26, 30, 38, 0.9);
    border-radius: 8px;
}

.contract__card--cover {
    font-size: 3.75em;
    font-weight: 600;
    color: #3d475a;
}

.contract__card:first-child {
    margin: 0;
}

.contract__text {
    text-align: center;
    /* margin: -0.5em 0; */
}

.contract__text__can__win {
    text-align: center;
    /* margin-top: 25px; */
}

.contract__creation {
    display: inline-grid;
    padding: 2em;
    margin: 0 auto;
    width: 40%;
    background: #558bdf;
    border-radius: 6px;
    text-align: center;
    cursor: pointer;
}

.contract__creation--text {
    font-size: 1.5em;
    font-weight: 600;
}

.contract__creation--acount {
    font-weight: 400;
    margin-top: 0.5em;
    word-break: break-word;
}

/* Opencard */

.opencard {
    display: inline-flex;
    justify-self: center;
    margin: 5em auto;
    background: rgba(26, 30, 38, 0.9);
    border-radius: 1em;
}

.opencard__extra {
    display: grid;
    min-width: 25em;
    margin: 2.5em;
}

.opencard-info {
    display: flex;
    align-self: flex-start;
    align-items: center;
    justify-content: space-between;
}

.opencard-info__article {
    display: grid;
}

.opencard-info__article--subtext {
    color: #3d475a;
}

.opencard-info__article--text {
    font-size: 1.25em;
    font-weight: 600;
    margin-top: 0.25em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.opencard-info__image {
    padding: 1.1em;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 0.75em;
}

.opencard-info__image--image {
    width: 4em;
    height: auto;
    top: 0.175em;
}

.opencard-info__Gprize {
    align-self: center;
    text-align: center;
}

.opencard-info__Gprize--text {
    font-size: 0.9em;
    font-weight: 700;
    color: #3d475a;
    text-align: center;
}

.opencard__extra--description {
    opacity: 0 !important;
    display: grid;
    grid-auto-rows: 2em;
    align-self: flex-end;
    justify-items: center;
    margin-top: 50px;
    font-weight: 600;
    color: #3d475a;
}

.opencard__content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1em;
    padding: 2.5em;
}

.opencard__separate {
    display: inline-grid;
    justify-items: center;
}

.opencard__separate--circle-top {
    top: -1.725em;
    align-self: flex-start;
}

.opencard__separate--main {
    position: absolute;
    width: 0.78em;
    height: 100%;
    align-self: stretch;
    background: url(../img/dots.png) bottom/contain;
}

.opencard__separate--circle-bottom {
    bottom: -1.725em;
    align-self: flex-end;
}

[class ^="opencard__separate--circle"] {
    background: #13161c;
    border-radius: 100%;
    width: 2.5em;
    height: 2.5em;
}

.opencard__card {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 13em;
    height: 8em;
    border-radius: 0.35em;
}

.opencard__card--cover {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: inherit;
    height: inherit;
    background: url(../img/card-cover.png) #1a1e26 no-repeat center;
    background-size: contain;
}

.opencard__card--weapon {
    width: auto;
    height: auto;
    user-select: none;
    pointer-events: none;
}

.opencard__card-preview {
    display: grid;
    align-self: stretch;
    align-items: center;
    justify-items: center;
}

.opencard__content--cover {
    z-index: 3;
    position: absolute;
    top: 10%;
    left: 10%;
    width: 80%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(26, 30, 38, 0.98);
    border-radius: 1em;
}

.opencard-cover {
    display: grid;
    grid-gap: 3.5em;
    justify-items: center;
}

.opencard-cover__article {
    display: grid;
    text-align: center;
}

.opencard-cover__text {
    line-height: 1.25;
    width: 100%;
    text-align: center;
}

.opencard-cover__text--bigger {
    font-size: 1.5em;
    font-weight: 600;
    margin-top: 0.3em;
}

.opencard__cover, .contract__cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    justify-content: center;
    align-items: center;
    background: rgba(26, 30, 38, 0.95);
    border-radius: inherit;
    z-index: 12;
}

.contract__cover {
    top: calc(50% - 250px);
    left: calc(50% - 350px);
    width: 700px;
    height: 500px;
    border-radius: 12px;
}

.contract__openned .contract__cover {
    display: flex;
}

.contract__openned .contract__creation, .contract__openned .contract__cards, .contract__openned .contract__text {
    visibility: collapse;
}

.opencard-win {
    display: grid;
    justify-items: center;
}

.opencard-win__article {
    display: grid;
    margin-bottom: 100px;
    text-align: center;
}

.opencard-win__article--text {
    margin-bottom: 10px;
}

.opencard-win__article--text-bigger {
    font-size: 24px;
    font-weight: 600;
}

.opencard-win__buttons {
    margin-top: 100px;
}

.opencard-win__buttons>button {
    margin-left: 5px;
}

.opencard-win__buttons>button:first-child {
    margin: 0;
}

/* Popup */

.popup, .popup__cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: 16;
}

.popup {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup__cover {
    background: rgba(0, 0, 0, 0.6);
    cursor: pointer;
}

.popup-window {
    position: absolute;
    width: 55.5em;
    padding: 3.6em;
    background: #1a1e26;
    border-radius: 0.35em;
    opacity: 0;
    transform: scale(0.5);
    z-index: 18;
}

.popup-window__article {
    display: grid;
    text-align: center;
}

.popup-window__title {
    font-size: 1.75em;
    font-weight: 600;
}

.popup-window__summary {
    max-width: 40em;
    margin: 0 auto;
    margin-top: 1.5em;
    line-height: 1.25;
}

.popup-window__content {
    display: grid;
    justify-content: center;
    margin: 2em 0;
}

.popup-window__content:empty {
    margin: 20px 0;
}

.popup-window__help {
    text-align: center;
}

.popup-window__button {
    padding: 1em 3em;
    margin-right: 0.3em;
    margin-bottom: 0.3em;
    font-size: 1em;
    text-align: center;
}

.popup-window__button::placeholder {
    font-size: inherit;
    font-weight: inherit;
    color: inherit;
}

.popup-window__marked {
    color: #268ce3;
    text-decoration: none;
}

.popup-window__marked:hover {
    text-decoration: underline;
}

.popup-window__close {
    position: absolute;
    top: 1.5em;
    right: 1.5em;
    font-size: 1.25em;
    color: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}

.popup-window__top-up {
    display: grid;
    text-align: center;
    margin-bottom: 50px;
}

.popup-window__top-up--big-input {
    text-align: center;
    color: #268ce3;
    font-size: 1.15em;
    font-weight: 600;
    border-bottom: 0.125em solid #268ce3;
    padding-bottom: 1.1em;
    margin-bottom: 0.85em;
    text-transform: uppercase;
}

.popup-window__top-up--big-input::placeholder {
    color: inherit;
}

.popup-window__top-up--big-input:focus::placeholder, .popup-window__button:focus::placeholder {
    color: transparent;
}

input.popup-window__button[type="text"] {
    max-width: 8em;
    text-align: center;
}

.avatar-change {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatar-change__title {
    flex: 0 140px;
    text-align: right;
}

.avatar-change__avatar {
    width: 100px;
    height: 100px;
    margin: 0 40px;
}

.avatar-change__input {
    padding: 18px 30px;
    /* background: #ccc; */
    /* border-radius: 6px; */
}

/* Auth */

.auth {
    display: flex;
    flex-wrap: wrap;
    /*width: 55%;*/
    justify-self: center;
    justify-content: center;
}

.auth__button {
    padding: 15px 30px;
    margin: 25px 15px;
    border: 2px solid #5d657e;
    border-radius: 6px;
    width: 170px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    transition: 0.125s linear background;
    text-decoration: none;
    text-align: center;
}

.auth__button--vkontakte {
    border-color: #547095;
}

.auth__button--vkontakte:hover {
    background: #547095;
}

.auth__button--twitch {
    border-color: #5e449f;
}

.auth__button--twitch:hover {
    background: #5e449f;
}

.auth__button--facebook {
    border-color: #405992;
}

.auth__button--facebook:hover {
    background: #405992;
}

.auth__button--youtube {
    border-color: #bd3329;
}

.auth__button--youtube:hover {
    background: #bd3329;
}

/*
.auth__button:nth-child(2n) {
    margin-right: 0;
}

.auth__button:nth-last-child(-n+2) {
    margin-bottom: 0;
}
*/

/* FAQ */

.faq {
    display: grid;
    width: 75em;
    margin: 0 auto;
}

.faq__row {
    display: grid;
    padding: 1.5em;
    margin-bottom: 0.5em;
    background: #1a1e26;
    border-radius: 0.35em;
    word-break: break-word;
}

.faq__header {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.faq__header--icon {
    margin-right: 0.75em;
    top: -3px;
    font-size: 2em;
    font-weight: 500;
    color: #268ce3;
    cursor: pointer;
    user-select: none;
}

.faq__header--text {
    font-size: 1em;
}

.faq__summary {
    display: none;
    font-size: 0.85em;
    font-weight: 400;
    margin-top: -1.1em;
    margin-left: 3.15em;
    opacity: 0;
    transition: 0.125s linear opacity, 0.175s linear margin;
}

.faq__header--toggled+.faq__summary {
    margin-top: 1.25em;
    opacity: 1;
    display: unset;
}

/* Terms */

.agreement {
    margin: 75px auto;
    padding: 20px 50px;
    width: 1100px;
    background: rgba(255, 255, 255, 0.015);
    border-radius: 12px;
}

.agreement h3 {
    margin: 20px 0;
    color: #268ce3;
}

/* vk-accept */

.vk-accept {
    display: grid;
    grid-row-gap: 2em;
    justify-items: center;
    text-align: center;
}

.vk-accept__title {
    margin-bottom: 2rem;
}

.vk-accept__title:only-child {
    margin: 0;
}

.vk-accept__content {
    display: inline-flex;
    justify-content: center;
}

.width150 {
    width: 150px !important;
}

/* Additional */

.go-to-top {
    padding: 0.8em 2.5em;
    background: #268ce3;
    border-radius: 6px;
    cursor: pointer;
}

/* Icons */

[class ^="shutle-icon__"] {
    display: block;
    background: no-repeat center/contain;
}

.shutle-icon__Uplus {
    width: 0.5625em;
    height: 0.5625em;
    background-image: url(../img/+.png);
}

.shutle-icon__astar {
    width: 1.25em;
    height: 1.25em;
    margin-right: 15px;
    background-image: url(../img/astar.png);
}

.shutle-icon__chevron {
    background-image: url(../img/chevron.png);
    width: 1.1em;
    height: 0.525em;
}

.shutle-icon__volume {
    background-image: url(../img/volume.png);
    background-size: contain;
    width: 1.35em;
    height: 0.95em;
    margin-right: 0.85em;
}

.shutle-icon__profile-avatar {
    background-image: url(../img/avatar.png);
    background-size: cover;
    border-radius: 100%;
    width: 10.25em;
    height: 10.25em;
}

.shutle-icon__tick {
    background-image: url(../img/tick.png);
    width: 0.875em;
    height: 0.875em;
}

.shutle-icon__dollar-in-circle {
    background-image: url(../img/dollar.png);
    width: 0.9em;
    height: 0.9em;
}

.shutle-icon__refresh-processing {
    background-image: url(https://standoffcase.ru/assets/img/icons/refresh-symbol.svg);
    width: 12px;
    height: 12px;
}

.shutle-icon__info {
    background-image: url("/assets/img/info.svg");
    width: 14px;
    height: 14px;
}

.shutle-icon__exit {
    background-image: url(/assets/img/exit.svg);
    width: 1.2em;
    height: 1.2em;
}

.shutle-icon__prize {
    background-image: url("../img/gift.png");
    width: 2em;
    height: 2em;
    margin-bottom: 1em;
}

/* Timer */

.usual-timer {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.usual-timer__name {
    margin-right: 1.5em;
}

.undertop__Hcontainer .usual-timer__name {
    margin: 0 55px;
}

.usual-timer__devide {
    margin: 0.625em;
    user-select: none;
}

.usual-timer__cell {
    padding: 0.9em;
    border: 0.1em solid #1f232d;
    border-radius: 0.333em;
    font-family: monospace;
    font-size: 0.8em;
    user-select: none;
}

.standoffcase-logo {
    top: 8px;
    width: 8em;
    height: auto;
    filter: brightness(0.5);
    transition: 0.125s linear filter;
}

.standoffcase-logo:hover {
    filter: brightness(1);
}

/* Referal */

.referal-invites {}

/* Goals */

.goals {
    margin-bottom: 5em;
}

.goals__inner {
    display: flex;
}

.goal {
    width: 10em;
    margin-left: 10em;
    text-align: center;
    z-index: 20;
}

.goal:before {
    position: absolute;
    top: calc(-3.5em - 0.56em);
    content: '';
    height: 1em;
    width: 0.15em;
    background: #2b2e33;
    border-radius: 15em;
    z-index: 4;
}

.goal__goal {
    font-size: 1em;
}

.goal__image {
    display: inline-flex;
    padding: 1em;
    margin: 1em 0;
    background: #13161c;
    border: 2px solid rgba(53, 61, 77, 0.3);
    border-radius: 0.25em;
}

.goal__level {
    margin-bottom: 1em;
}

.goal__rewards {
    color: #2e363c;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.25;
}

.goal__rewards>div {
    margin-bottom: 20px
}

.goal:first-child {
    margin-left: 0;
}

.goal__reached .goal__image {
    border-color: #268ce3;
}

.goal.goal__reached:before {
    background-color: #268ce3;
}

.goal__image--image {
    width: 3.5em;
    height: 3.5em;
    object-fit: cover;
}

.goals__progress {
    margin-bottom: 3.5em;
}

.goals__progress--line {
    position: unset;
    width: 50%;
    height: 0.15em;
    background: #268ce3;
    border-radius: 15em;
}

.goals__progress--line:before {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 0.15em;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10em;
}

.goals__counter {
    left: 506px;
    margin: 1em 0;
    width: 15em;
    text-align: center;
}

.goals__counter--icon {
    position: absolute;
    left: calc(50% - 0.15em);
    bottom: -1.4em;
    display: inline-block;
    padding: 0.3em;
    background: #268ce3;
    border-radius: 100%;
    z-index: 4;
}

.goals__counter--amount {
    font-size: 16px;
    font-weight: 300;
    line-height: 12px;
}

/* Referal Stats */

.referal-stats {
    display: flex;
    align-items: center;
    margin-bottom: 5em;
}

.referal-stats__skill-image {
    width: 3.5em;
    height: 4.5em;
    margin-right: 1.5em;
    object-fit: cover;
}

.referal-stats__title {
    display: flex;
    align-items: center;
}

.referal-efforts {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    font-size: 0.9em;
}

.referal-efforts__point {
    display: flex;
    align-items: center;
    margin-left: 2em;
}

.referal-efforts__text--marked {
    font-size: 1.5em;
    color: #268ce3;
    margin-right: 0.5em;
}

/* Feeder */

.invites-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2em;
}

.feeder {
    flex: 1;
    padding: 2em 2.5em;
    background: rgba(66, 80, 109, 0.18);
    border-radius: 0.5em;
}

.feeder__title {
    margin-bottom: 1.5em;
    font-size: 1em;
    font-weight: 600;
}

.feeder__text {
    margin-top: 1.5em;
    font-size: 1en;
    line-height: 1.3;
}

.inputs {
    display: flex
}

.inputs>* {
    border: unset;
    outline: unset;
    line-height: 1;
}

.inputs__button[disabled] {
    cursor: not-allowed;
    color: #707070!important;
    border-color: #707070!important
}

.inputs__button[disabled]:hover {
    background: unset;
    cursor: not-allowed;
    color: #707070!important;
    border-color: #707070!important
}

.inputs__gap[lower] {
    text-transform: unset;
}

.inputs__gap {
    flex: 1;
    padding: 0.7em 1.45em;
    background: rgba(0, 0, 0, 0.1);
    border: 0.15em solid #434b61;
    border-radius: 0.35em;
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    cursor: text;
    color: white;
}

.inputs__gap::placeholder {
    font-size: inherit;
    font-weight: inherit;
    color: #384057;
}

.inputs__button {
    padding: 1em 1.45em;
    margin-left: 1em;
    background: #268ce3;
    border-radius: 0.35em;
    color: white;
    font-size: 0.9em;
    font-weight: 500;
    cursor: pointer;
    transition: .175s ease background-color, .3s ease border-radius;
}

.inputs__button:hover {
    background: #217ccb;
    border-radius: 0.5em;
}

/* Settings */

.set-volume {
    font-weight: 500;
    color: #3d475a;
    cursor: pointer;
    user-select: none;
}

.set-volume__option {
    display: inline-block;
    width: 3em;
}

/* Table */

.modern-table__pages {
    display: flex;
    justify-content: center;
    margin-top: 1em;
}

.modern-table__button {
    padding: 0.75em 1.25em;
    margin: 0.25em;
    border-radius: 0.25em;
    font-size: 0.9em;
    color: white;
    transition: .125s linear background-color;
}

.modern-table__button:hover, .modern-table__button--active {
    background: #268ce3;
}

/* Bonus Page */

.bonus-page {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    align-items: flex-end;
    padding: 10em 5em;
    background: url("../img/bonus-bg.png") no-repeat center/cover;
}

.bonus-page>div:not(.bonus-page__column) {
    display: flex;
    align-items: center;
}

.bonus-page> :last-child {
    justify-self: flex-end;
}

.bonus-page> :only-child {
    justify-self: center;
}

.bonus-page__column {
    display: grid;
    justify-items: center;
}

.bonus-page__button {
    font-size: 1em;
    font-weight: 600;
    overflow: hidden;
}

.bonus-page__marked {
    color: #268ce3;
    font-size: 1.35em;
}

.bonus-page__help {
    text-align: center;
    line-height: 1.25;
    margin-top: 2em;
}

.special-button {
    display: inline-flex;
    padding: 1.6em 4em;
    background: #268ce3;
    border-bottom: 0.25em solid rgba(0, 0, 0, 0.3);
    border-radius: 0.5em;
    color: white;
}

.special-button::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 120%;
    background: repeating-linear-gradient(45deg, rgba(255, 255, 255, 0.1) 65%, transparent 80%);
    transition: 0.325s ease left;
}

.special-button:hover::before {
    left: -20%
}

.circled-images {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: 0 1.5em;
    width: 8.75em;
    height: 3em;
}

.circled-images__image, .circled-images__motto {
    flex-shrink: 0;
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 100%;
    box-shadow: 0 0 16px -4px rgba(0, 0, 0, 0.35);
}

.circled-images__image:nth-last-child(1) {
    transform: translateX(0%);
}

.circled-images__image:nth-last-child(2) {
    transform: translateX(50%);
}

.circled-images__image:nth-last-child(3) {
    transform: translateX(100%);
}

.circled-images__image:nth-last-child(4) {
    transform: translateX(150%);
}

.circled-images__motto {
    background: #268ce3 url("../img/3_dots.png") no-repeat center/40%;
    color: white;
    line-height: 23px;
}

/* Promocode */

input.bonus-page__input {
    border-bottom: 0.125em solid #268ce3;
    padding-bottom: 1.1em;
    margin-bottom: 0.85em;
    width: 25em;
    color: #268ce3;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.65em;
}

input.bonus-page__input::placeholder {
    color: rgba(255, 255, 255, 0.075);
}

input.bonus-page__input:focus::placeholder, input.bonus-page__input:focus::placeholder {
    color: transparent;
}

/* New Topbar */

.undertop--style-2 {
    justify-items: stretch;
    margin: 0 auto;
    width: 1260px;
    border: unset;
}

.undertop__column {
    display: grid;
    grid-gap: 0.75em;
    flex: 1;
    padding: 1.75em 3em;
    background: no-repeat center/cover;
    font-size: 0.75em;
}

.undertop__column>span {
    width: 15em;
}

/* ScrollBar */

.cool-overflow::-webkit-scrollbar {
    width: 0.25em;
}

.cool-overflow::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10em;
}

.cool-overflow::-webkit-scrollbar-thumb {
    background: #268ce3;
    border-radius: 10em;
}

/* Shadow */

.shadow::before {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 25%;
    box-shadow: inset 0 -50px 50px -20px #13161c;
    z-index: 1;
}

/* Scales */

.scale-out {
    transform: scale(0.75);
    opacity: 0.25;
    transition: .175s linear transform, .15s linear opacity;
}

.scale-in {
    transform: scale(1);
    opacity: 1;
    transition: .175s linear transform, .15s linear opacity;
}

.hidden-none {
    display: none;
}

.auth-btn {
    background: #73c645;
    color: white;
    padding: 15px 25px;
    border-radius: 5px;
    text-decoration: none;
}

.contract__card .user-weapons__weapon {
    margin: 0;
}

.s-card {
    color: #268ce3;
    font-weight: 700;
}

.btn-gray {
    cursor: not-allowed !important;
}

.button1.btn-gray {
    background: #30394a;
    border-color: transparent;
}

.notfound {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 100px;
    text-decoration: none;
    color: rgba(32, 117, 189, 1);
    font-size: 26px;
    font-weight: 700;
    cursor: default;
}

/* New Year */

.girlyanda {
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateY(-70%);
    user-select: none;
    z-index: 99;
}

.logo::before {
    content: '';
    position: absolute;
    top: -.55em;
    left: -.6em;
    width: 1.7em;
    height: 1.7em;
    background: url(/assets/img/ny3.png) no-repeat center/contain;
    transform: scaleX(-1)
}

.undertop--style-1 {
    background: url(/assets/img/ny2.png) center/22%;
    background-position: 0 36%;
}

/* Bonuses => Users */

.bonuses-users {
    position: absolute;
    right: -9em;
    display: none;
    align-self: flex-end;
    padding: 1.5em;
    margin-top: -3em;
    background: rgba(26, 30, 38, 0.9);
    border-radius: 0.25em;
}

.bonuses-users__inner {
    display: grid;
    grid-gap: 0.75em;
    grid-template-columns: repeat(4, 1fr);
    height: 14em;
    overflow: auto;
}

.bonuses-users__image {
    width: 4em;
    height: 4em;
    object-fit: cover;
    border-radius: 0.25em;
}

.bonuses-users__button {
    display: flex;
    padding: 0.55em 1.25em;
    margin: 1em auto 0;
    background: #268ce3;
    border-radius: 0.25em;
    color: white;
}